# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://tu-proyecto.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=tu-anon-key-aqui
SUPABASE_SERVICE_ROLE_KEY=tu-service-role-key-aqui

# JWT Secret (usa el que generamos antes)
JWT_SECRET=27475a86665a3899d0859cd13bfdd8ff2a9764c8241caa33870a99ecde8f8da8c6c3f8deb6e0b635ca86bdb5c7d12355407b9aa2154f72a648595468b8367552
